<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Lab2 </title>

</head>
<body>
<header>
    <h1>L2</h1>
    <form th:action="@{/main}" method="get"><button type="submit">На головну</button></form>

</header>


<div id = "L2Form">
    <h2>Заповніть форму</h2>
    <form th:action= "@{/l2}" method="post">
        <table>
            <tr>
                <td><p>           </p></td>
                <td><p>x0</p></td>
                <td><p>x1</p></td>
                <td><p>x2</p></td>
                <td><p>x3</p></td>
                <td><p>x4</p></td>
                <td><p>result</p></td>
            </tr>

            <tr>
                <td><p>        </p></td>
                <td><input type="text" name="x00"></td>
                <td><input type="text" name="a00"></td>
                <td><input type="text" name="a01"></td>
                <td><input type="text" name="a02"></td>
                <td><input type="text" name="a03"></td>
                <td><input type="text" name="s00"></td>
            </tr>
            <tr>
                <td><p>        </p></td>
                <td><input type="text" name="x01"></td>
                <td><input type="text" name="a10"></td>
                <td><input type="text" name="a11"></td>
                <td><input type="text" name="a12"></td>
                <td><input type="text" name="a13"></td>
                <td><input type="text" name="s01"></td>
            </tr>
            <tr>
                <td><p>        </p></td>
                <td><input type="text" name="x02"></td>
                <td><input type="text" name="a20"></td>
                <td><input type="text" name="a21"></td>
                <td><input type="text" name="a22"></td>
                <td><input type="text" name="a23"></td>
                <td><input type="text" name="s02"></td>
            </tr>
            <tr>
                <td><p>        </p></td>
                <td><input type="text" name="x03"></td>
                <td><input type="text" name="a30"></td>
                <td><input type="text" name="a31"></td>
                <td><input type="text" name="a32"></td>
                <td><input type="text" name="a33"></td>
                <td><input type="text" name="s03"></td>
            </tr>
        </table>
        <label>epsilon</label>
        <input type="text" name="e">
        <input type="submit" value="Відправити">
    </form>
</div>


<div id = "L2Results">
    <h2>Результати</h2>
    <table>
        <tr>
            <td><h3>x1</h3></td>
            <td><h3>x2</h3></td>
            <td><h3>x3</h3></td>
            <td><h3>x4</h3></td>

        </tr>

        <tr>
            <td><p th:text="${result1}"></p></td>
            <td><p th:text="${result2}"></p></td>
            <td><p th:text="${result3}"></p></td>
            <td><p th:text="${result4}"></p></td>
        </tr>

    </table>
</div>

</body>
</html>