<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Lab3 </title>

</head>
<body>
<header>
    <h1>L3</h1>
    <form th:action="@{/main}" method="get"><button type="submit">На головну</button></form>

</header>


<div id = "L3Form">
    <h2>Заповніть форму</h2>
    <form th:action= "@{/l3}" method="post">
        <table>
            <tr>
                <td><p>           </p></td>
                <td><p>a</p></td>
                <td><p>b</p></td>
                <td><p>c</p></td>
                <td><p>d</p></td>

            </tr>

            <tr>
                <td><p>        </p></td>
                <td><input type="text" name="a"></td>
                <td><input type="text" name="b"></td>
                <td><input type="text" name="c"></td>
                <td><input type="text" name="d"></td>
            </tr>

        </table>
        <label>high end</label>
        <input type="text" name="high">
        <label>low end</label>
        <input type="text" name="low">
        <input type="submit" value="Відправити">
    </form>
</div>

<div id = "L2Results">
    <h2>Результат</h2>
    <table>
        <tr>
            <td><h3>Дихтомія</h3></td>
            <td><h3>Фібоначі</h3></td>
            <td><h3>Золотий перетин</h3></td>


        </tr>

        <tr>
            <td><p th:text="${result_dichtomy}"></p></td>
            <td><p th:text="${result_fibo}"></p></td>
            <td><p th:text="${result_golden}"></p></td>

        </tr>

    </table>
</div>
</body>
</html>