<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>main menu </title>

</head>
<body>

<nav>
    <h1>MAIN MENU</h1>
       <ul>
           <li><form th:action="@{/l1}" method="get"><button type="submit">L1</button></form></li>
           <li><form th:action="@{/l2}" method="get"><button type="submit">L2</button></form></li>
           <li><form th:action="@{/l3}" method="get"><button type="submit">L3</button></form></li>
           <li><form th:action="@{/l4and5}" method="get"><button type="submit">L4 and 5</button></form></li>
           <li><form th:action="@{/l6}" method="get"><button type="submit">L6</button></form></li>
           <li><form th:action="@{/l7}" method="get"><button type="submit">L7</button></form></li>


    </ul>
</nav>


</body>
</html>