<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title  th:text = "${title}"></title>

</head>
<body>
<header>
    <h1 th:text = "${title}"> </h1>
</header>
<nav>
    <ul>
        <li><form th:action="@{/info}" method="get"><button type="submit">info</button></form></li>
        <li><form th:action="@{/welcome}" method="get"><button type="submit">welcome</button></form></li>

    </ul>
</nav>
<main>
    <p th:text = "${mainText}"></p>
</main>
<footer>
    <p th:text = "${year}"></p>
</footer>
</body>
</html>